@using Ladulceria.LojaVirtual.Web.HtmlHelpers
@model Ladulceria.LojaVirtual.Web.Models.ProdutosViewModel


@foreach (var p in Model.Produtos)
{ 
    
    @Html.Partial("ProdutoDetalhes", p)

        <!--<div class="panel panel-default ">

            <div class="panel-heading"><h3>@p.ProdutoDescricao</h3></div>
            <ul class="list-group">
                <li class="list-group-item">@p.ProdutoDescricaoResumida</li>
                <li class="list-group-item"><h3><span class="label label-primary">@p.Preco.ToString("c")</span></h3></li>
            </ul>
        </div>

        <div>
        </div>-->
    
    
    <!--<div>

        <h3>@p.ProdutoDescricao</h3>
        @p.ProdutoDescricaoResumida
        <h3>@p.Preco.ToString("c")</h3>

    </div>-->
}
@Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x}))
